
/*-----------------------------------------------------------
 *    		./views/painel/painel_view - Login Form
 ------------------------------------------------------------*/
.login-form{
	margin-top: 150px;
}

.btn-submit{
	margin:10px;
}

.alert p{
	margin: 0px !important;
}

/* Tabelas */

th.sorting_asc{
	background: url("assets/images/black_up.png") right center no-repeat !important;
}

th.sorting_desc{
	background: url("assets/images/black_down.png") right center no-repeat !important;
}

/* Tiny MCE */
.mceLayout{
	margin-bottom: 20px !important;
}

/* Modal em Paginas */
.retorno{
	margin-top:10px;
}

.retorno img{
	margin: 0, 5px, 5px, 0;
}


/*-----------------------------------------------------------
 *    		./views/site_view - Bootstrap CSS 
 ------------------------------------------------------------*/


.jumbotron{
	background-color: lightpink;
	color:white;
}
			
.well{
	background-color: pink;
	color:white;
}

.carousel{
	background-color: lightpink;
	color:white;
}

.tab-content{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

.nav-tabs{
	margin-bottom: 0;
}

.msgPurchase {
    background-color: lightpink;
    color: Red;
    padding: 7px;
    border: solid 1px pink;
}
